<div class="footer px-8 pt-8 pb-1">
    <div class="float"></div>
    <div class="number">
        <h2 class="text-3xl font-bold lg:text-2xl"> 02 211 1088</h2>
        <p class="text-xl lg:text-base text-secondary">Para cualquier inquietud </p>
        <div class="social text-4xl text-primary mt-5 items-center lg:hidden">
            <!-- centrar items sin flex en el centro inline-block en el div hijo  y el padre body text align center -->
            <div class=" bg-white w-12 h-12 rounded-full m-4 inline-block">
                <i class="fab fa-facebook-f"></i>
            </div>
            <div class=" bg-white w-12 h-12 rounded-full m-4 inline-block">
                <i class="fab fa-instagram"></i>
            </div>
            <div class=" bg-white w-12 h-12 rounded-full m-4 inline-block">
                <i class="fab fa-twitter"></i>
            </div>
        </div>
    </div>
    <div class="logo-inst grid grid-cols-2 lg:grid-cols-4 gap-4 mt-8 ">
        <div class="logo hidden -mt-20 lg:block">
            <img width="200" height="200" class="inline-block"
                src="https://res.cloudinary.com/hdpoyu0ip/image/upload/v1580856680/mhogar/logo_trans.png">
            <p class="text-xs -mt-16">M&aacute;s que un almac&eacute;n, estamos cerca de ti</p>
            <div class="social text-2xl text-primary items-center">
                <!-- centrar items sin flex en el centro  -->
                <div class=" bg-white w-8 h-8 rounded-full m-4 inline-block">
                    <i class="fab fa-facebook-f"></i>
                </div>
                <div class=" bg-white w-8 h-8 rounded-full m-4 inline-block">
                    <i class="fab fa-instagram"></i>
                </div>
                <div class=" bg-white w-8 h-8 rounded-full m-4 inline-block">
                    <i class="fab fa-twitter"></i>
                </div>
            </div>
        </div>

        <div class="institucional  text-xl lg:text-base">
            <p class="font-semibold text-2xl lg:text-lg  mb-5">Institucional</p>
            <ul>
                <li><a href="#">Acerca de nosotros</a></li>
                <li><a href="#">Tienda</a></li>
                <li><a href="#">Contactos</a></li>
            </ul>
        </div>
        <div class="faq text-xl  lg:text-base">
            <p class="font-semibold text-xl lg:text-lg mb-5">Preguntas frecuentes</p>
            <ul>
                <li><a href="#">¿C&oacute;mo comprar?</a></li>
                <li><a href="#">Formas de pago</a></li>
                <li><a href="#">Cr&eacute;dito directo</a></li>
            </ul>
        </div>
        <div class="tarjetas text-xl lg:text-base col-span-2 lg:col-span-1 mx-auto mt-10 lg:mt-0">
            <p class="font-semibold text-2xl lg:text-lg">Aceptamos</p>
            <ul class="flex items-center">
                <li><img class="w-16 m-5" src="../../assets/tarjetas/visa.svg" alt="visa-icon"></li>
                <li><img class="w-16 m-5" src="../../assets/tarjetas/Mastercard-logo.svg" alt="master-icon"></li>
                <li><img class="w-32 m-5" src="../../assets/tarjetas/diners.svg" alt="diners-icon"></li>
                <li><img class="w-16 m-5" src="../../assets/tarjetas/american.svg" alt="american-icon"></li>
                <li><img class="w-16 m-5" src="../../assets/tarjetas/discover.svg" alt="discover-icon"></li>
            </ul>
        </div>
    </div>
    <div class="brands-footer"></div>
    <div class="copyright"></div>
</div>