<div class="carousel relative bg-white">
  <div class="carousel-inner relative overflow-hidden w-full">
    <!--Slide 1-->
    <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden
      checked="checked">
    <div class="carousel-item absolute opacity-0" style="height:50vh;">
      <div class="h-full w-full">
        <img src="https://i5.walmartimages.com/dfw/4ff9c6c9-4e59/k2-_2d80103d-aac1-4162-b240-1a0f4a67f819.v1.jpg"
          alt="background-slide" class="absolute right-0 top- h-full sm:w-4/6  object-cover object-center ">
        <!-- h-full object-cover object-center traits for all image center-->
        <div
          class="relative h-full w-full text-primary text-center p-5 flex-col flex sm:w-1/3 sm:justify-center md:flex-1 ">
          <p class="text-4xl"> Slide 1 </p>
          <p class="text-lg sm:text-base font-light"> Slide 1 sdfdfsdfsd s fhsdfnsd fsdhfbsdf sdfsd</p>
          <a href="#"
            class="bg-secondary py-3 mt-5 mx-16 sm:mx-5 md:mx-10 lg:mx-20 font-bold uppercase text-base sm:text-xs rounded">Mas
            informaci&oacute;n</a>
        </div><!-- element inside carousel -->
      </div>

    </div>


    <label for="carousel-3" class="prev control-1"></label>
    <label for="carousel-2" class="next control-1 "></label>

    <!--Slide 2-->
    <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
    <div class="carousel-item absolute opacity-0" style="height:50vh;">
      <div class="h-full w-full">
        <img src="https://i5.walmartimages.com/dfw/4ff9c6c9-4e59/k2-_2d80103d-aac1-4162-b240-1a0f4a67f819.v1.jpg"
          alt="background-slide" class="absolute right-0 top- h-full sm:w-4/6  object-cover object-center ">
        <!-- h-full object-cover object-center traits for all image center-->
        <div
          class="relative h-full w-full text-primary text-center p-5 flex-col flex sm:w-1/3 sm:justify-center md:flex-1 ">
          <p class="text-4xl"> Slide 2 </p>
          <p class="text-base font-light"> Slide 1 sdfdfsdfsd s fhsdfnsd fsdhfbsdf sdfsd</p>
          <a href="#"
            class="bg-secondary py-3 mt-5 mx-16 sm:mx-5 md:mx-10 lg:mx-20  font-bold uppercase text-xs rounded">Mas
            informaci&oacute;n</a>
        </div><!-- element inside carousel -->
      </div>
    </div>
    <label for="carousel-1" class="prev control-2 "></label>
    <label for="carousel-3" class="next control-2 "></label>


    <!--Slide 3-->
    <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
    <div class="carousel-item absolute opacity-0" style="height:50vh;">
      <div
        class="relative h-full w-full text-primary text-center p-5 flex-col flex sm:w-1/3 sm:justify-center md:flex-1 ">
        <p class="text-4xl"> Slide 3 </p>
        <p class="text-base font-light"> Slide 3 sdfdfsdfsd s fhsdfnsd fsdhfbsdf sdfsd</p>
        <a href="#"
          class="bg-secondary py-3 mt-5 mx-16 sm:mx-5 md:mx-10 lg:mx-20  font-bold uppercase text-xs rounded">Mas
          informaci&oacute;n</a>
      </div><!-- element inside carousel -->
    </div>
    <label for="carousel-2" class="prev control-3"></label>
    <label for="carousel-1" class="next control-3 "></label>


    <!-- Add additional indicators for each slide-->
    <ol class="carousel-indicators ">
      <li class="inline-block mr-3">
        <label for="carousel-1" class="carousel-bullet cursor-pointer block text-4xl text-white">•</label>
      </li>
      <li class="inline-block mr-3">
        <label for="carousel-2" class="carousel-bullet cursor-pointer block text-4xl text-white">•</label>
      </li>
      <li class="inline-block mr-3">
        <label for="carousel-3" class="carousel-bullet cursor-pointer block text-4xl text-white">•</label>
      </li>
    </ol>

    <!-- <div class="relative w-full h-64 bg-gray-100 sm:hidden">
      <div class="relative h-full w-full flex-col flex text-primary text-center p-5">
        <p class="text-4xl"> Slide 1 </p>
        <p class="text-base font-light"> Slide 1 sdfdfsdfsd s fhsdfnsd fsdhfbsdf sdfsd</p>
        <a href="#"
          class="bg-secondary py-3 mt-5 mx-16 sm:mx-5 md:mx-10 lg:mx-20  font-bold uppercase text-xs rounded">Mas
          informaci&oacute;n</a>
      </div>
      COMMENT element inside carousel
    </div> -->


  </div>
</div>