<div class="py-5 bg-background">
  <p class="mx-10 mt-5 text-primary text-xs">{{categoria_1}}{{subcatString}}</p>
  <!-- <div class="col">
<ol class="breadcrumb">
<li class="breadcrumb-item"
*ngFor="let item of breadcrumbList; let i = index"
[class.active]="i===breadcrumbList.length-1">
<a [routerLink]="item.path" *ngIf="i!==breadcrumbList.length-1">
{{ item.name }}
</a>
<span *ngIf="i===breadcrumbList.length-1">{{ item.name }}</span>
</li>
</ol>
</div> breadcrum -->


  <div class="pt-5 lg:hidden">
    <!-- treaer las subcategorias de acuerdo a cada categoria seleccionada -->
    <div class="scrollmenu">
      <a (click)="viewAllSubcat()">Cocina a gas</a>
      <a>Refrigeracion</a>
      <a>Lavado y secado</a>
      <a>Hornos empotrados</a>
      <a>Marca</a>
      <a>About</a>
    </div>

    <!-- subacategoria for phones devices  -->
    <div class="subcat hidden bg-primary">
      <ul class="subcat-content p-5 text-white text-sm flex flex-wrap">
        <li class="pr-3" (click)="categoriaAction('cg-1','cg-1a')">Cocina a gas</li>
        <li class="pr-3">Refrigeradoras</li>
      </ul>
    </div>

  </div>


  <div class="main-grid lg:flex lg:my-10">
    <div class="hidden lg:block left-side lg:w-1/5">
      <div class="categorias-section border border-gray-400 mx-5">
        <!-- title -->
        <div class="title bg-gray-300 text-primary text-center font-medium text-base py-2">
          <p>{{categoria_1}}</p>
        </div>

        <!-- items -->
        <div class="categorias-items p-3 border-b border-gray-400">
          <p class="title-items-cat">Cocina a gas</p>
          <ul>
            <li>
              <a [routerLink]="" (click)="categoriaAction('cg-1','cg-1a')" class="subtitle-items-cat"> - Cocina a gas</a>
            </li>
          </ul>
        </div>

        <div class="categorias-items p-3 border-b border-gray-400">
          <p class="title-items-cat">Refrigeracion</p>
          <ul>
            <li>
              <a class="subtitle-items-cat"> - Refrigeradoras</a>
            </li>
            <li>
              <a class="subtitle-items-cat"> - Congeldores</a>
            </li>
          </ul>
        </div>

        <div class="categorias-items p-3 border-b border-gray-400">
          <p class="title-items-cat">Lavado y secado</p>
          <ul>
            <li>
              <a class="subtitle-items-cat"> - Lavadoras</a>
            </li>
            <li>
              <a class="subtitle-items-cat"> - Secadoras</a>
            </li>
          </ul>
        </div>
        <!-- items -->

      </div> <!-- categorias box -->
    </div> <!-- left side -->


    <div class="right-side lg:w-4/5">
      <div class="flex flex-wrap  justify-center">
        <!-- items-center justify-center CENTER FLEX
align-items: center; justify-content: center; -->
        <mat-card [routerLink]="['/p',card.codigo]" class="example-card m-1" *ngFor="let card of obs | async">
          <div style="background-color: #F8F9FA; padding:16px;">
            <img mat-card-image class="main-image" style="margin-top: 0;"
              src="http://www.emporium.themeseason.com/assets/images/products/printer/1-medium.png"
              alt="Photo of a Shiba Inu">
            <mat-chip-list>
              <mat-chip color="light">Oferta del mes</mat-chip>
            </mat-chip-list>
          </div>
          <mat-card-content>
            <div class="precio-oferta p-4">
              <p id="precio-original">
                $ 99.99
              </p>
              <p id="precio-tachado">
                $ 150.99
              </p>
              <p class="text-base lg:text-sm text-primary font-semibold mt-2 tracking-wider">
                {{card.title}}
              </p>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <mat-paginator class="bg-background" [pageSizeOptions]="[5]"></mat-paginator>
    </div> <!-- right-side -->
  </div> <!-- main grid categorias & prods -->
</div> <!-- end body -->