
/* scroll menu */

div.scrollmenu {
  background-color: #f7fafc;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: #084b90;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #084b90;
  color:white;
}

/* scroll menu */



/*productos*/
.main-image {
  margin: 10px auto;
  width: 100%;
}

.mat-chip {
  max-width: 200px;
  background-color: #00ff01;
  color: #084b90;
}
.precio-oferta #precio-original {
  font-size: 1rem;
}
.precio-oferta #precio-tachado {
  font-size: 0.8rem;
  color: #084b90;
  text-decoration: line-through;
}

.example-card {
  width: 200px;
  margin: 1%;
}

.mat-card {
  padding: 0px;
}
