<style>
    #menu-toggle:checked+#menu {
        display: block;
    }

    #menu-toggle2:checked+#menu2 {
        display: block;
    }
</style>


<div class="antialiased">
    <div class="navbar">
        <header class="lg:px-16 px-6 bg-primary flex flex-wrap items-center lg:py-0 py-2">
            <div class="flex-1 flex justify-between items-center">
                <a href="#" class="flex">
                    <img src="../../assets/img/logo.png" class="w-8 h-8 my-auto">
                    <img src="../../assets/img/l-letras.png" class="h-6 my-auto">
                </a>
            </div>

            <label for="menu-toggle" class="pointer-cursor lg:hidden block"><svg class="fill-current text-white"
                    xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                    <title>menu</title>
                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
                </svg></label>
            <input class="hidden" type="checkbox" id="menu-toggle" />

            <div class="hidden lg:flex lg:items-center lg:w-auto w-full" id="menu">
                <nav>
                    <ul class="lg:flex items-center justify-between text-white pt-4 lg:pt-0 ">
                        <li><a class="lg:p-4 py-1 px-0 block border-b-2 border-transparent hover:border-secondary"
                                href="#">Home</a></li>
                        <li><a class="lg:p-4 py-1 px-0 block border-b-2 border-transparent hover:border-secondary"
                                href="#">Empresa</a></li>
                        <li><a class="lg:p-4 py-1 px-0 block border-b-2 border-transparent hover:border-secondary"
                                href="#">Cr&eacute;dito Inmediato</a></li>
                        <!-- <li><a class="lg:p-4 py-1 px-0 block border-b-2 border-transparent hover:border-secondary lg:mb-0 mb-2"
                                href="#">Support</a></li> -->
                    </ul>
                </nav>
                <!-- <h3 class="text-secondary font-bold lg:hidden">CATEGORIAS</h3>

                <nav class="lg:hidden">
                    <ul class="lg:flex items-center justify-between text-sm text-white pt-4 lg:pt-0">
                        <li><a class="lg:p-2 py-1 px-0 block border-b-2 border-transparent hover:border-secondary"
                                href="#">Electrodom&eacute;sticos</a></li>
                        <li><a class="lg:p-2 py-1 px-0 block border-b-2 border-transparent hover:border-secondary"
                                href="#">Tecnolog&iacute;a</a></li>
                        <li><a class="lg:p-2 py-1 px-0 block border-b-2 border-transparent hover:border-secondary"
                                href="#">Electromenores</a></li>
                        <li><a class="lg:p-2 py-1 px-0 block border-b-2 border-transparent hover:border-secondary lg:mb-0 mb-2"
                                href="#">Hogar</a></li>
                        <li><a class="lg:p-2 py-1 px-0 block border-b-2 border-transparent hover:border-secondary lg:mb-0 mb-2"
                                href="#">Motocicletas</a></li>
                        <li><a class="lg:p-2 py-1 px-0 block border-b-2 border-transparent hover:border-secondary lg:mb-0 mb-2"
                                href="#">Ferreter&iacute;a</a></li>
                    </ul>
                </nav> -->
            </div>
        </header>


        <header class="lg:px-16 px-6 bg-secondary flex flex-wrap items-center lg:py-0 py-2">
            <h3 class="text-primary font-bold lg:hidden pr-8 tracking-wider">Categor&iacute;as</h3>

            <label (click)="arrowvalue()" for="menu-toggle2" class="pointer-cursor lg:hidden block">
                <fa-icon id="arrow-down" id="arrowDown" *ngIf="arrowDown" class="text-primary" [icon]="faChevronDown"></fa-icon>
                <fa-icon id="arrow-right" id="arrowUp"  *ngIf="arrowUp" class="text-primary" [icon]="faChevronUp"></fa-icon>
            </label>
            <input class="hidden" type="checkbox" id="menu-toggle2" />

            <div class="hidden lg:flex lg:items-center lg:w-auto w-full" id="menu2">
                <nav>
                    <ul class="lg:flex items-center justify-between text-sm text-primary pt-4 lg:pt-0">
                        <li><a class="lg:p-2 py-1 px-0 block border-b-2 border-transparent hover:border-primary"
                                href="#">Electrodom&eacute;sticos</a></li>
                        <li><a class="lg:p-2 py-1 px-0 block border-b-2 border-transparent hover:border-primary"
                                href="#">Tecnolog&iacute;a</a></li>
                        <li><a class="lg:p-2 py-1 px-0 block border-b-2 border-transparent hover:border-primary"
                                href="#">Electromenores</a></li>
                        <li><a class="lg:p-2 py-1 px-0 block border-b-2 border-transparent hover:border-primary lg:mb-0 mb-2"
                                href="#">Hogar</a></li>
                        <li><a class="lg:p-2 py-1 px-0 block border-b-2 border-transparent hover:border-primary lg:mb-0 mb-2"
                                href="#">Motocicletas</a></li>
                        <li><a class="lg:p-2 py-1 px-0 block border-b-2 border-transparent hover:border-primary lg:mb-0 mb-2"
                                href="#">Ferreter&iacute;a</a></li>
                    </ul>
                </nav>
            </div>
        </header>



        <!-- <header class="lg:px-16 px-6 bg-secondary flex flex-wrap items-center lg:py-auto py-auto">


            <div class="hidden lg:flex lg:items-center lg:w-auto w-full" id="sub-menu">
                <nav>
                    <ul class="lg:flex items-center justify-between text-sm text-primary pt-4 lg:pt-0">
                        <li><a class="lg:p-2 py-3 px-0 block border-b-2 border-transparent hover:border-primary"
                                href="#">Electrodom&eacute;sticos</a></li>
                        <li><a class="lg:p-2 py-3 px-0 block border-b-2 border-transparent hover:border-primary"
                                href="#">Tecnolog&iacute;a</a></li>
                        <li><a class="lg:p-2 py-3 px-0 block border-b-2 border-transparent hover:border-primary"
                                href="#">Electromenores</a></li>
                        <li><a class="lg:p-2 py-3 px-0 block border-b-2 border-transparent hover:border-primary lg:mb-0 mb-2"
                                href="#">Hogar</a></li>
                        <li><a class="lg:p-2 py-3 px-0 block border-b-2 border-transparent hover:border-primary lg:mb-0 mb-2"
                                href="#">Motocicletas</a></li>
                        <li><a class="lg:p-2 py-3 px-0 block border-b-2 border-transparent hover:border-primary lg:mb-0 mb-2"
                                href="#">Ferreter&iacute;a</a></li>
                    </ul>
                </nav>


            </div>
        </header> -->
    </div>
</div>

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
    </div>
</nav> -->