<div class="mx-auto">
    <div class="md:flex text-lg text-center text-primary p-8">
        <div class="flex-1 p-8 border-b md:border-r md:border-b-0  md:border-gray-400">
            <img src="../assets/credito.svg" class="m-auto w-24 p-5" />
            <p class="font-bold text-base">Cr&eacute;dito Directo</p>
            <span class="text-sm">Adquiere cualquier producto mediante cr&eacute;dito directo sin entrada y sin
                garantes</span>
        </div>
        <div class="flex-1 p-8 border-b md:border-r md:border-b-0 border-gray-400">
            <img src="../assets/domicilio.svg" class="m-auto w-32 p-5" />
            <p class="font-bold text-base">A domicilio</p>
            <span class="text-sm">Entregamos todos nuestros en la puerta de su casa</span>
        </div>
        <div class="flex-1 p-8">
            <img src="../assets/precio.svg" class="m-auto w-24 p-5" />
            <p class="font-bold text-base">Precios de locura</p>
            <span class="text-sm">Tenemos los mejores precios del mercado</span>
        </div>
    </div>
</div>