<nav>
    <ul class="lg:flex items-center justify-between text-sm text-primary pt-4 lg:pt-0">
        <li><a class="lg:p-2 py-3 px-0 block border-b-2 border-transparent hover:border-primary" href="#">Features</a>
        </li>
        <li><a class="lg:p-2 py-3 px-0 block border-b-2 border-transparent hover:border-primary" href="#">Pricing</a>
        </li>
        <li><a class="lg:p-2 py-3 px-0 block border-b-2 border-transparent hover:border-primary"
                href="#">Documentation</a></li>
        <li><a class="lg:p-2 py-3 px-0 block border-b-2 border-transparent hover:border-primary lg:mb-0 mb-2"
                href="#">Support</a></li>
    </ul>
</nav>