<!-- hidden md:block  taiwind for use another div and hide  this one-->
<div class="text-primary">
    <mat-grid-list [cols]="breakpoint" rowHeight="350px" (window:resize)="onResize($event)">
        <mat-grid-tile *ngFor="let tile of tiles;let i = index" [colspan]="tile.cols" [rowspan]="tile.rows"
            [style.background]="tile.color"  [routerLink]="['/c',tile.codigo]">
            <div style="text-align: center;">
                <span [style.color]="tile.id==3?'white':''">
                    <p class="text-2xl md:text-lg">{{tile.text.description}}</p>
                    <h2 class="text-3xl md:text-xl font-bold">{{tile.text.titulo}}</h2>
                </span>
                <img [width]="tile.id==1?'400':'300'" [src]="tile.text.img" />
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>