:root {
  --primary-old-one: #084b90;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.body {
  background-color: #f7fafc;
}

.mat-tab-label {
  color: var(--primary-old-one);
  font-size: 16px;
}

/* sucursales */


.mapboxgl-popup-content h3 {
  background: #00FF01;
  color: #084b90;
  margin: 0;
  display: block;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  font-weight: 700;
  margin-top: -15px;
}


.mapboxgl-popup-content {
  padding: 0;
  width: 180px;
}

.mapboxgl-popup-content-wrapper {
  padding: 1%;
}

/* sucursales */
